/* VARIABLES, MIXINS Y MAPS */
/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e8e4e2;
  font-family: "Lora", serif;
  color: #1D1D1A;
}

html, body {
  overflow-x: hidden !important;
  width: 100vw !important;
}

/* LAYOUTS & COMPONENTS */
header {
  width: 100%;
  background-color: #e8e4e2;
  height: 6.25rem;
  margin-bottom: 5rem !important;
}

.coleccion--header {
  margin-bottom: 3rem;
}

.contact-header {
  margin-bottom: 0;
}

.navbar {
  background-color: #e8e4e2 !important;
}
.navbar .container-fluid .navbar-brand {
  font-size: 2.1rem;
}
.navbar .container-fluid .navbar-toggler {
  border: none;
}
.navbar .container-fluid .navbar-toggler:hover {
  color: gray;
}
.navbar .container-fluid .navbar-toggler .navbar-toggler-icon {
  border-radius: none;
}

.nav-item {
  text-align: center;
}

.navbar1 {
  height: 100%;
  display: grid;
  justify-content: space-evenly;
}
.navbar1 .navbardiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  -moz-column-gap: 7rem;
       column-gap: 7rem;
}
.navbar1 .navbardiv .a {
  text-align: center;
}
.navbar1 .navbardiv .logo-a {
  font-size: 2.1rem;
}

a {
  color: #1D1D1A;
  cursor: pointer;
  text-decoration: none;
  font-size: 0.9rem;
}
a:hover {
  color: gray !important;
}

footer {
  width: 100%;
}
footer div {
  display: flex;
  justify-content: space-evenly;
  vertical-align: middle;
}
footer div .top img {
  width: 1.25rem;
  height: 1.25rem;
  margin: 0;
  padding: 0;
}
footer div .top:hover {
  color: gray;
}
footer div .derechos {
  font-size: 0.9rem;
}

#index-main-section1, #nosotros-main-section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 7rem;
  margin-bottom: 7rem;
}
#index-main-section1 div, #nosotros-main-section1 div {
  display: flex;
  flex-direction: column;
  gap: 7rem;
}

.img-index {
  width: 90%;
  align-self: center;
  animation-fill-mode: backwards;
}

.p-index {
  font-size: 1.25rem;
  width: 90%;
  align-self: center;
  text-align: center;
  line-height: 175%;
}

#index-main-section2 {
  margin-bottom: 7rem;
}
#index-main-section2 .carousel-index {
  width: 100%;
  max-width: 43.5rem;
}

.nosotros-main-section1-div-p {
  display: flex;
  justify-content: center;
}

.img-nosotros {
  width: 90%;
  align-self: center;
  height: 100%;
  animation-fill-mode: backwards;
}

.p-nosotros-small {
  font-size: 1.2rem;
  width: 90%;
  align-self: center;
  text-align: center;
  line-height: 175%;
  width: 95%;
}

.p-nosotros-small-2 {
  width: 90%;
  text-align: justify;
  align-self: center;
}

.container-nosotros-big {
  max-width: 62.5rem;
}

.col-nosotros-big {
  padding: 0;
}

.col-nosotros-big-p {
  background-color: #e8e4e2;
  height: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.col-nosotros-big-p-1 {
  text-align: center;
}

.p-nosotros-big {
  width: 95%;
  font-size: 1.2rem;
}

.row-nosotros-6 {
  margin-bottom: 85px;
}

.col-nosotros-small {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.col-nosotros-small-p {
  height: 31.25rem;
  font-size: 1.2rem;
}

.coleccion--main-container {
  margin-bottom: 4rem;
}
.coleccion--main-container .coleccion--main-title {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  animation-fill-mode: backwards;
}
.coleccion--main-container .coleccion--main-title h3 {
  font-size: 1.5rem;
}

.row-cols-sm-2 {
  animation-fill-mode: backwards;
}

.card-body {
  background-color: #fbf8f7;
}

.btn {
  background-color: #b2937d;
  border: white;
  color: white;
}
.btn:hover {
  background-color: #b2937d !important;
  color: white !important;
}

.cuidado-main {
  margin-bottom: 5rem;
}
.cuidado-main .cuidado--main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
  margin-bottom: 3rem;
}
.cuidado-main .cuidado--main-section .cuidado--title-container, .cuidado-main .cuidado--main-section .cuidado--img-container {
  display: flex;
  flex-direction: column;
}
.cuidado-main .cuidado--main-section .cuidado--title-container .cuidado--title, .cuidado-main .cuidado--main-section .cuidado--img-container .cuidado--title {
  font-size: 1.5rem;
  animation-fill-mode: backwards;
}

.cuidado--img-container .cuidado--img {
  width: 90%;
  align-self: center;
  animation-fill-mode: backwards;
}

.accordion-item {
  background-color: #fbf8f7;
}

.accordion-button {
  background-color: #e8e4e2;
}

.contact--main {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  animation-fill-mode: backwards;
}
.contact--main .contact--links-father {
  background-color: #b2937d;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.contact--main .contact--links-father .contact--title {
  width: 100%;
  align-self: center;
  text-align: left;
  color: white;
  font-size: 1.3rem;
  line-height: 2;
  padding: 0;
  padding-bottom: 1rem;
  text-decoration: none;
}
.contact--main .contact--links-father .contact--title:hover {
  color: white !important;
}
.contact--main .contact--links-father .contact--links {
  width: 100%;
  align-self: center;
  text-align: left;
  color: white;
  font-size: 1.1rem;
  line-height: 2;
  padding: 0;
}
.contact--main .contact--links-father .contact--links:hover {
  color: #e8e4e2 !important;
}

.contact--form {
  height: 100%;
  width: 90%;
  background-color: none;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}
.contact--form .form-input {
  height: 3.5rem;
  min-height: 3.5rem;
  font-family: "Lora", serif;
  color: #b2937d;
  padding: 0.625rem;
  border-radius: 0.25rem;
  margin-bottom: 0;
  border: 1px solid;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  display: flex;
  width: 100%;
}
.contact--form .form-message {
  height: 6.8rem;
  min-height: 6.8rem;
  font-family: "Lora", serif;
  color: #b2937d;
  padding: 0.625rem;
  border-radius: 0.25rem;
  margin-bottom: 0;
  border: 1px solid;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  display: flex;
  width: 100%;
}
.contact--form .form-button {
  background-color: #b2937d;
  color: white;
  text-decoration: underline;
  height: 3.5rem;
  padding: 0.625rem;
  border-radius: 0.25rem;
  border: 0.063rem solid;
}
.contact--form .form-button:hover {
  color: white;
}

/* VIEWS */
@media (min-width: 768px) {
  .img-index {
    width: 65%;
    align-self: center;
  }
  .p-index {
    font-size: 1.25rem;
    width: 50%;
    align-self: center;
    text-align: center;
  }
  .img-nosotros {
    width: 500px;
  }
  .p-nosotros-small {
    font-size: 1.25rem;
    width: 500px;
    text-align: center;
  }
  .p-nosotros-small-2 {
    font-size: 1.25rem;
    width: 500px;
    text-align: justify;
  }
  .cuidado--img {
    width: 65%;
    align-self: center;
    animation-fill-mode: backwards;
  }
  .accordion-flush {
    margin-left: 10rem;
    margin-right: 10rem;
  }
  .accordion-body {
    text-align: justify;
  }
  .contact--main {
    height: 100%;
    margin-top: 5rem;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 29rem;
  }
  .contact--links-father {
    max-width: 26rem;
    margin-left: 2rem;
  }
  .contact--form {
    width: 100%;
    max-width: 26rem;
    margin-right: 2rem;
    justify-content: end;
  }
  .coleccion--main-container .row {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media (max-width: 991px) {
  .navbar1 {
    display: none;
  }
  .container-nosotros-big {
    display: none;
  }
}
@media (min-width: 992px) {
  .navbar {
    display: none;
  }
  #nosotros-main-section1 {
    display: none;
  }
  .body-nosotros {
    background-color: #fbf8f7;
  }
  .header-nosotros {
    background-color: #fbf8f7;
  }
  .accordion-flush {
    margin-left: 15rem;
    margin-right: 15rem;
  }
}/*# sourceMappingURL=main.css.map */