/* GENERAL STYLE */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color:  #e8e4e2;
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    color: #1D1D1A;
}

/* NAVBAR */

header {
    background-color: #e8e4e2;
    width: 100%;
    height: 100px;
    margin-bottom: 5rem;
    scroll-behavior: smooth !important;
}

.navbar {
    background-color: #e8e4e2 !important;
}

.navbar-brand{
    font-size: 2.10rem;
}

.nav-item {
    text-align: center;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:hover {
    color: gray;
}

.navbar-toggler-icon {
    border-radius: none;
}

.navbar1 {
    background-color: none;
    height: 100%;
    display: grid;
    justify-content:space-evenly;
}

.navbar1 .navbardiv {
    background-color: none;
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    column-gap: 7rem;
}

.navbar1 .navbardiv a {
    background-color: none;
    text-align: center;
}

.navbar1 .navbardiv .logo-a {
    font-size: 2.10rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

a {
    color: #1D1D1A;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.90rem;
}

a:hover {
    color: gray !important;
}


/* FOOTER */

footer {
    width: 100%;
}

footer div {
    width: 100%;
    display:flex;
    justify-content: space-evenly;
    vertical-align: middle;
}

footer div .top img {
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
}

.top:hover {
    color: gray;
}

.derechos {
    font-size: 0.90rem;
}

/* INDEX */

#index-main-section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 7rem;
    margin-bottom: 7rem;
}

#index-main-section1 div{
    background-color:none;
    display: flex;
    flex-direction: column;
    gap: 7rem;
}

.img-index {
    width: 90%;
    align-self: center;
}
    
.p-index {
    font-size: 1.25rem;
    width: 90%;
    align-self: center;
    text-align:center;
    line-height: 175%;
}

#index-main-section2 {
    margin-bottom: 7rem;
}

.carousel-index {
    width: 100%;
    max-width: 696px;
}

/* NOSOTROS */

#nosotros-main-section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 7rem;
    margin-bottom: 7rem;
}

.nosotros-main-section1-div-p {
    display: flex;
    justify-content: center;
}

.img-nosotros {
    width: 90%;
    align-self: center;
    height: 100%;
}

.p-nosotros-small {
    font-size: 1.25rem;
    width: 90%;
    align-self: center;
    text-align:center;
    line-height: 175%;
    width: 95%;
}

.p-nosotros-small-2 {
    width: 90%;
    text-align: justify;
}

.container-nosotros-big {
    max-width: 1000px;
}

.col-nosotros-big{
    padding: 0;
}

.col-nosotros-big-p {
    background-color:#e8e4e2;
    height: 100;
    display: flex;
    justify-content:center;
    align-items:center;
    text-align:justify;
}

.col-nosotros-big-p-1 {
    text-align: center;
}

.p-nosotros-big {
    width: 95%;
    font-size: 1.20rem;
}

.row-nosotros-6 {
    margin-bottom: 85px;
}

.col-nosotros-small {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.col-nosotros-small-p {
    height: 500px;
    font-size: 1.20rem;
}

/* CONTACTO */

.contact-header{
    margin-bottom: 0;
}

.contact--main {
    height: 100%;
    margin-top: 2rem;
    margin-bottom: 12rem;
    background-color: none;
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 3rem;
}

.contact--links-father {
    background-color:#ae764e;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    padding: 4rem;
}

.contact--links {
    width: 70%;
    align-self: center;
    text-align: left;
    color: #fbf8f7;
    font-size: 1.25rem;
    line-height: 2;
    padding: 0;
}

.contact--links:hover {
    color:#e8e4e2 !important;
}

.contact--form {
    height: 100%;
    width: 90%;
    background-color:none;
    display: flex;
    flex-direction: column;
}

.form-input {
    height: 3.5rem;
    min-height: 3.5rem;
    font-family: 'Lora', serif;
    color: #1D1D1A;
    padding: 0.625rem;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    border: 1px solid;
    border-top: hidden;
    border-left:hidden;
    border-right: hidden;
    display: flex;
    width: 100%;
}

.form-button{
    background-color: #ae764e;
    color: #fbf8f7;
    text-decoration: underline;
    height: 3.5rem;
    padding: 0.625rem;
    border-radius: 0.25rem;
    border: 0.063rem solid;
}

.form-button:hover{
    color:#e8e4e2;
}

/*BREAKPOINTS 

/*PANTALLAS > o = a 768px*/

@media (min-width: 768px) {
    .img-index {
        width: 65%;
        align-self: center;
    }

    .p-index {
        font-size: 1.25rem;
        width: 50%;
        align-self: center;
        text-align:center;
    }

    .img-nosotros {
        width: 500px;
    }

    .p-nosotros-small {
        font-size: 1.25rem;
        width: 500px;
        text-align:center;
}

    .p-nosotros-small-2 {
    font-size: 1.25rem;
    width: 500px;
    text-align:justify;
}

.contact--main {
    height: 100%;
    margin-top: 5rem;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 29rem;
}

.contact--links-father {
    max-width: 30.625rem;
    margin-left: 2rem;
}

.contact--form {
    max-width: 30.625rem;
    margin-right: 2rem;
}

}

@media (max-width: 991px){
    .navbar1{
        display: none;
    }
    .container-nosotros-big {
        display: none;
    }
}

/*PANTALLAS > o = a 992px*/

@media (min-width: 992px){
    .navbar{
        display: none;
    }
    #nosotros-main-section1 {
        display: none;
    }
    .body-nosotros {
        background-color:#fbf8f7;
    }
    
    .header-nosotros{
        background-color: #fbf8f7;
    }
}