/* ESTILOS GENERALES*/
*{box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 1400px;
    background-color:  #e8e4e2;
    margin: auto;
    padding: auto;
    font-family: 'Lora', serif;
    color: #1D1D1A;
}

a {
    color: #1D1D1A;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.90rem;
}

a:hover {
    color: gray !important;
}


/*ESTILOS GENERALES DE LA BARRA DE NAVEGACIÓN*/

header {
    background-color: #e8e4e2;
    width: 100%;
    height: 160px;
}

.navbar {
    background-color: #e8e4e2 !important;
}

.navbar-brand{
    font-size: 2.10rem;
}

.nav-item {
    text-align: center;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:hover {
    color: gray;
}

.navbar-toggler-icon {
    border-radius: none;
}

.navbar1 {
    background-color: none;
    height: 100%;
    display: grid;
    justify-content: space-evenly;
}

.navbar1 .navbardiv {
    background-color: none;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}

.navbar1 .navbardiv a {
    background-color: none;
    width: 169.74px;
    text-align: center;
}

.navbar1 .navbardiv .logo-a {
    font-size: 2.10rem;
    margin-left: 60px;
    margin-right: 60px;
}

/*ESTILOS GENERALES DEL INDEX*/

.img-index {
    width: 476px;
    height: 600px;
    margin-bottom: 85px;
}

.p-index {
    font-size: 1.25rem;
    width: 440px;
    text-align:center;
    line-height: 175%;
}

.carousel-index {
    margin-bottom: 85px;
    max-width: 696px;
}

/*ESTILOS PRIMERA SECCIÓN DEL INDEX*/

#diseños-atemporales{
    margin-bottom: 85px;
}

#diseños-atemporales div{
    background-color:none;
    display:flex;
    justify-content:center;
    align-content: center;
    }

/* ESTILOS SEGUNDA SECCIÓN DEL INDEX*/

#doble-imagen{
    background-color: none;
    display: flex;
    justify-content: center;
}

#doble-imagen div{
    background-color: none;
    display:flex;
    flex-direction: column;
    align-content:flex-end;
    justify-content: center;
}

/* ESTILOS TERCERA SECCIÓN DEL INDEX*/

#artesanales-unicas{
    margin-bottom: 85px;
}

#artesanales-unicas div {
    display: flex;
    justify-content: center;
}

/* ESTILOS CUARTA SECCIÓN DEL INDEX*/


#doble-imagen-colores {
    background-color: none;
    display: flex;
    justify-content: center;
}

#doble-imagen-colores div{
    background-color: none;
    display:flex;
    flex-direction: column;
    align-content:flex-end;
    justify-content: center;
    height: 1350px;
}

/* ESTILOS QUINTA SECCIÓN DEL INDEX*/

#reivindicamos {
    margin-bottom: 85px;
}

#reivindicamos div {
    display: flex;
    justify-content: center;
}

/* ESTILOS SEXTA SECCIÓN DEL INDEX*/

#final-index {
    background-color: none;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

#final-index div{
    background-color: none;
    display:flex;
    flex-direction: column;
    align-content:center;
    justify-content: center;
    text-align: center;
    height: 1400px;
}

/* ESTILOS SÉPTIMA SECCIÓN DEL INDEX*/


/*ESTILOS DEL FOOTER*/

footer {
    width: 100%;
}

footer div {
    width: 100%;
    display:flex;
    justify-content: space-evenly;
    vertical-align: middle;
}

footer div .top img {
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
}

.top:hover {
    color: gray;
}

.derechos {
    font-size: 0.90rem;
}

/* HTML DE NOSOTROS*/


.col-nosotros-big{
    padding: 0;
}

.col-nosotros-big-p {
    height: 100;
    display: flex;
    justify-content:center;
    align-items:center;
    text-align:justify;
}

.col-nosotros-big-p-1 {
    text-align: center;
}

.p-nosotros-big {
    width: 95%;
    font-size: 1.25rem;
}

.img-nosotros {
    width: 100%;
    height: 100%;
}

.img-nosotros-1 {
    height: 633px;
}

.row-nosotros-6 {
    margin-bottom: 85px;
}

.col-nosotros-small {
    height: 770px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.col-nosotros-small-p {
    font-size: 1.5rem;

}

/* HTML DE CONTACTO*/

.p-contáctanos{
    background-color: none;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.contact-form {
    height: 350px;
    background-color: none;
    display: flex;
    justify-content:center;
    margin-bottom: 150px;
}

.contáctanos {
    height: 100%;
    background-color:white;
    width: 355px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align:center;
    padding:0;
}

.a-contacto {
    font-size: 1rem;
    line-height: 2;
    padding-bottom: 18px;
}

.formulario {
    background-color: none;
    height: 100%;
    width: 355px;
    background-color:none;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0;
}

.inputform {
    background-color:none;
    width: 100%;
    max-width: 355px;
    min-width: 355px;
    height: 36px;
    min-height: 36px;
    font-family: 'Lora', serif;
    color: #1D1D1A;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid;
    border-top: hidden;
    border-left:hidden;
    border-right: hidden;
}

.bottonform{
    text-decoration: underline;
    width: 100%;
    height: 36px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid;
    margin-bottom: 16px;
}

.body-contacto{
    height: 936px;
}

/*PANTALLAS > o = a 768px*/

@media (min-width: 768px){
    .img-index{
        width: 550px;
        height: 700px;
        margin-bottom: 85px;
    }

    .p-index {
        font-size: 1.25rem;
        width: 575px;
        text-align:center;
    }

    #artesanales-unicas{
        margin-bottom: 150px;
    }

    #doble-imagen-colores{
        margin-bottom: 85px;
    }
}

@media (max-width: 767px) {

}

/*PANTALLAS > o = a 992px*/

@media (min-width: 992px){
    .navbar{
        display: none;
    }
    .container-nosotros-small {
        display:none;
    }
}

@media (max-width: 991px){
    .navbar1{
        display: none;
    }
    .container-nosotros-big {
        display: none;
    }
}