$primary-font-family: 'Lora', serif;

$color-palet: (
    primary-background-color: #e8e4e2,
    secondary-background-color: #b2937d,
    tertiary-background-color: #fbf8f7,
    primary-font-color: #1D1D1A,
    secondary-font-color: white,
    primary-hover-color: gray,
    secondary-hover-color: white,
    tertiary-hover-color: #e8e4e2,
    border-button-color: white,
    border-form-color: #b2937d,
    primary-button-color: white
);

$nav-font-sizes: (
    nav-title: 2.10rem,
    nav-item: 0.9rem
);

$content-font-sizes: (
    hero-title: 1.5rem,
    hero-index-text: 1.25rem,
    hero-nosotros-text: 1.20rem,
    contact-title: 1.3rem,
    contact-links: 1.10rem
);

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin flex-column-justify-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@mixin flex-justify-center {
    display: flex;
    justify-content: center;
}