.contact--form {
    height: 100%;
    width: 90%;
    background-color: none;
    display: flex;
    flex-direction: column;
    gap: 1.75rem;

    .form-input {
        height: 3.5rem;
        min-height: 3.5rem;
        font-family: $primary-font-family;
        color: map-get($map: $color-palet, $key: border-form-color);
        padding: 0.625rem;
        border-radius: 0.25rem;
        margin-bottom: 0;
        border: 1px solid;
        border-top: hidden;
        border-left: hidden;
        border-right: hidden;
        display: flex;
        width: 100%;
    }

    .form-message {
        height: 6.8rem;
        min-height: 6.8rem;
        font-family: $primary-font-family;
        color: map-get($map: $color-palet, $key: border-form-color);
        padding: 0.625rem;
        border-radius: 0.25rem;
        margin-bottom: 0;
        border: 1px solid;
        border-top: hidden;
        border-left: hidden;
        border-right: hidden;
        display: flex;
        width: 100%;
    }

    .form-button {
        background-color: map-get($map: $color-palet, $key: secondary-background-color);
        color: map-get($map: $color-palet, $key: primary-button-color);
        text-decoration: underline;
        height: 3.5rem;
        padding: 0.625rem;
        border-radius: 0.25rem;
        border: 0.063rem solid;
        &:hover {
            color: map-get($map: $color-palet, $key: secondary-hover-color);
        }
    }
}