.cuidado-main {
    margin-bottom: 5rem;

    .cuidado--main-section {
        @include flex-column-center;
        text-align: center;
        gap: 2rem;
        margin-bottom: 3rem;

        .cuidado--title-container {
            display: flex;
            flex-direction: column;

            .cuidado--title {
                font-size: map-get($map: $content-font-sizes, $key: hero-title);
                animation-fill-mode: backwards;
            }

            .cuidado--img-container {
                @extend .cuidado--title-container;

                .cuidado--img {
                    width: 90%;
                    align-self: center;
                    animation-fill-mode: backwards;
                }
            }
        }
    }
}