header {
    width: 100%;
    background-color: #e8e4e2;
    height: 6.25rem;
    margin-bottom: 5rem !important;
}

.coleccion--header{
    margin-bottom: 3rem;
}

.contact-header{
    margin-bottom: 0;
}