#nosotros-main-section1 {
    @extend #index-main-section1
};

.nosotros-main-section1-div-p {
    @include flex-justify-center;
}

.img-nosotros {
    width: 90%;
    align-self: center;
    height: 100%;
    animation-fill-mode: backwards;
}

.p-nosotros-small {
    font-size: map-get($map: $content-font-sizes, $key: hero-nosotros-text);
    width: 90%;
    align-self:center;
    text-align:center;
    line-height: 175%;
    width: 95%;
}

.p-nosotros-small-2 {
    width: 90%;
    text-align: justify;
    align-self: center;
}

.container-nosotros-big {
    max-width: 62.5rem;
}

.col-nosotros-big{
    padding: 0;
}

.col-nosotros-big-p {
    background-color:map-get($map: $color-palet, $key:primary-background-color);
    height: 100;
    @include flex-justify-center;
    align-items:center;
    text-align:justify;
}

.col-nosotros-big-p-1 {
    text-align: center;
}

.p-nosotros-big {
    width: 95%;
    font-size: map-get($map: $content-font-sizes, $key: hero-nosotros-text);
}

.row-nosotros-6 {
    margin-bottom: 85px;
}

.col-nosotros-small {
    @include flex-justify-center;
    align-items: center;
    text-align: justify;
}

.col-nosotros-small-p {
    height: 31.25rem;
    font-size: map-get($map: $content-font-sizes, $key: hero-nosotros-text);
}
